<style>
	#pierwszyPrzycisk
{
	vertical-align: middle;
}
#body1
{
 background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
  
}
#lista
{
	vertical-align: center;
}
@font-face 
{
    font-family: 'alex_brushregular';
    
src: url('../cssfont/alexbrush-regular-webfont.eot');
    
src: url('../cssfont/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         
url('../cssfont/alexbrush-regular-webfont.woff2') format('woff2'),
         
url('../cssfont/alexbrush-regular-webfont.woff') format('woff'),
         
url('../cssfont/alexbrush-regular-webfont.ttf') format('truetype'),
         
url('../cssfont/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;


font-size:xx-large}
p.customfont
{
	font-family: 'alex_brushregular'
}
p
{
	font-size: 3em;
	font-weight: 900;
}
#credit
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
</style>