<style>
	#logowanie
{
	margin-top:500px;
	margin-left:5%;
}
	#body1
{
 background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
     
}
@font-face 
{
    font-family: 'alex_brushregular';
    src: url('../cssfont/alexbrush-regular-webfont.eot');
    
src: url('../cssfont/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         
url('../cssfont/alexbrush-regular-webfont.woff2') format('woff2'),
         
url('../cssfont/alexbrush-regular-webfont.woff') format('woff'),
         
url('../cssfont/alexbrush-regular-webfont.ttf') format('truetype'),
         
url('../cssfont/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;


font-size:xx-large}
p.customfont
{
	font-family: 'alex_brushregular'
}
p
{
	font-size: 3em;
	font-weight: 900;
}
</style>