<style>
	#pierwszyPrzycisk
{
	text-align:center;
	margin-bottom:50px;
	margin-top:20%;
}
	#drugiPrzycisk
{
	text-align:center;
	margin-bottom:50px;
}
	#trzeciPrzycisk

{
	text-align:center;
	margin-bottom:50px;
}
	#body1
{
	background-size:   cover;                      /* <------ */
   	background-repeat: no-repeat;
     
}
	.btn btn-primary btn-lg btn-block
	{
	width: 100px;
	}
@font-face 
{
    font-family: 'alex_brushregular';
    src: url('../cssfont/alexbrush-regular-webfont.eot');
    
src: url('../cssfont/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         
url('../cssfont/alexbrush-regular-webfont.woff2') format('woff2'),
         
url('../cssfont/alexbrush-regular-webfont.woff') format('woff'),
         
url('../cssfont/alexbrush-regular-webfont.ttf') format('truetype'),
         
url('../cssfont/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;


font-size:xx-large}
p.customfont
{
	font-family: 'alex_brushregular'
}
p
{
	font-size: 3em;
	font-weight: 900;
	color: #57aa6e;
}
a
{
color: black
}
#credit
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
</style>