<style>
	#gora {
	width:100%;
	margin-bottom:3%;
	}
	#plansza1 {
  float:right;
  width:42%;
  margin-bottom:30px;
	}
	#rozdzielenie
	{
	  float:left;
  width:2%;
  margin-bottom:30px;
	}
	#plansza2
	{
  float:left;
  width:40%;
  margin-left:5%;
  margin-bottom:30px;
	}
	#backbutton
	{
	float:right;
	}
	.polePlanszy
{


width:50px;
height:50px;
background : #FFFFFF url("../images/woda3.jpg") center center no-repeat;

}

#body1
{
 background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
  
}

@font-face 
{
    font-family: 'alex_brushregular';
    src: url('cssfont/alexbrush-regular-webfont.eot');
    
src: url('../cssfont/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         
url('../cssfont/alexbrush-regular-webfont.woff2') format('woff2'),
         
url('../cssfont/alexbrush-regular-webfont.woff') format('woff'),
         
url('../cssfont/alexbrush-regular-webfont.ttf') format('truetype'),
         
url('../cssfont/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;


font-size:xx-large}
p.customfont
{
	font-family: 'alex_brushregular'
}
p
{
	font-size: 3em;
	font-weight: 900;
}

</style>